<script setup lang="ts">
import FancyButton from '@/components/FancyButton.vue';
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";

</script>
<template >
  <v-container>
    <v-row>
      <v-col>
        <fancyButton><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail>Tail</template>
        </fancyButton>
      </v-col>
      <v-col>
        <fancyButton> <template #tail>
          <v-icon :icon="mdiCursorDefaultClickOutline" />
          </template>Click Me
        </fancyButton>
      </v-col>
    </v-row>
  </v-container></template>