<script setup lang="ts"></script>
<template>
  <v-container class="c">
    <v-row>
      <v-col cols="12" sm="6">
        <v-avatar size="150">
          <v-img src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t31.18172-8/26757188_565525993793478_6661647367306640820_o.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGf9T5wahRXK6icCQXsrPHJPNXhe6GQu4g81eF7oZC7iHYSjGVBNLm1mjKnRuvaqyTJP-u6hftdJ93hS3vqySDg&_nc_ohc=C4D2GG6lTwkAX9BNbs4&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfCniNj2DLPEXCcEYRHfUN1UnKrbJxrLN3opGCFOx1Veug&oe=64CB0469" alt="รูปภาพโปรไฟล์"></v-img>
        </v-avatar>
        <br>
        <br>
        <br>
        <v-table class="a">
          <tr>
              <td>ชื่อ: นาย สุวิจักขณ์ วรดี</td>
              <td>นามสกุล: วรดี</td>
            </tr>
        
        </v-table>
      </v-col>
      <v-col cols="12" sm="6">
        <h3 class="a">ประวัติการศึกษา</h3>
        <v-table class="custom-table">
          <thead >
            <tr>
              <th class="text-left">ประวัติการศึกษา</th>
              <th class="text-left">รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ระดับอนุบาล</td>
              <td>โรงเรียน อนุบาลชุมพร(วัดสามแก้ว)</td>
            </tr>
            <tr>
              <td>ระดับประถม</td>
              <td>โรงเรียน อนุบาลชุมพร</td>
            </tr>
            <tr>
              <td>ระดับมัธยมศึกษาตอนต้น</td>
              <td>โรงเรียน ศรียาภัย</td>
            </tr>
            <tr>
              <td>ระดับมัธยมศึกษาตอนปลาย</td>
              <td>โรงเรียน สอาดเผดิมวิทยา</td>
            </tr>
          </tbody>
        </v-table>
        <v-table class="b">
        <h3 class="a">สิ่งที่สนใจ</h3>
        <tr> 1.ดนตรี</tr>
        <tr> 2.อาหาร</tr>
        <tr> 3.โค้ดโปรเเกรม</tr>
        
        </v-table>
     
       
      </v-col>
    </v-row>
  </v-container>
</template>
<style >
.custom-table {
  background-color: #f2f2f2; 
}.a{
  background-color: greenyellow; 
}.b{
  background-color: #f2f2f2; 
}.c{
  background-color: gray;
}
</style>
