<script setup lang="ts">
import {ref,computed} from "vue";
import FramworkPop from '@/components/FramworkPop.vue'
const frameList = ref([
  {
    name: 'VuseJS',
    img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Vue.png/300px-Vue.png',
    rating: 10
  },
  {
    name: 'AngularJS',
    img: 'https://material.angularjs.org/latest/img/logo.svg',
    rating: 20
  },
  {
    name: 'ReactJS',
    img: 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/768px-React-icon.svg.png?20220125121207',
    rating: 14
  },
]);
function changeRating(index: number, rating: number) {
  console.log('action' + index + ':' + rating);
  frameList.value[index].rating = rating;
}
const orderList = computed (() => {
  return [...frameList.value].sort((n1,n2) =>n2.rating- n1.rating  );
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="idex">
        <FramworkPop :name="item.name" :img="item.img" :index="index" @change="changeRating">
        </FramworkPop>
      </v-col> </v-row
    ><v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="idex">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
